.btn {
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba($black, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($black, .2);
    }

    &-white {
        background-color: $white;
        color: $dark-grey;

        &::after {
            background-color: $white;
        }
    }

    &-primary-color {
        background-color: $color-primary;
        color: $white;

        &::after {
            background-color: $color-primary;
        }
    }

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($black, .2);
    }

    &::after {
    content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    @include respond(phone){
        font-size: 2rem !important;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $white;
        box-shadow: 0 1rem 2rem rgba($black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($black, .15);
        transform: translateY(-2px);

    }

    @include respond(phone){
        font-size: 2rem !important;
    }
}