.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($black, .15);

        &--front {
            background-color: $color-primary;

            &-2 {
                background-color: $color-secondary;
            }
        }

    }

    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-primary, $color-secondary), url(../images/present1.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-secondary, $color-primary), url(../images/present2.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-primary, $color-secondary), url(../images/present3.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        color: $white;
        position: absolute;
        top: 17rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        border-radius: 100px;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary, .85), rgba($color-secondary, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary, .85), rgba($color-primary, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary, .85), rgba($color-secondary, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: -0.5rem auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $white;
                    border-radius: 1px;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__info-box {
        font-size: 6rem;
        font-weight: 100;
        text-align: center;
        margin-bottom: 8rem;
        color: $white;
    }

    @include respond(tab-port){
        height: 52rem;

        &__side {
            height: 52rem;
            transition: all .8s;
            position: relative;
            border-radius: 5px;
        }


        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
        }

        &__info-box {
            font-size: 6rem;
            font-weight: 100;
            text-align: center;
            margin-bottom: 8rem;
            color: $white;
        }

    }
}

