@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
 
    80% {
        transform: translateX(20px);
    }
 
    100% {
        opacity: 1;
        transform: translate(0);
    }
 }
 
 @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
 
    80% {
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translate(0);
    }
 }
 
 @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
 
    100% {
        transform: translate(0);
        opacity: 1;
    }
 }