*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // What 1 rem is - definition down here;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  //@include respond-phone {
  //    font-size: 50%;
  //}

  @include respond(tab-land) { //width < 900
    font-size: 56.25%; //1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8 px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 40%; //1 rem = 8 px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12;
  }
}

body {
  box-sizing: border-box;
  //padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
