body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    //font-size: 16px;
    line-height: 1.7;
    color: $white;
}

.heading-primary{
    margin-bottom: 6rem;
    backface-visibility: hidden;  //firefox $ ie

    &--main{
        display:block;
        font-size: 6rem;
        font-weight: 400;

        letter-spacing: 1.5rem;

        animation-name:  moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone){
            letter-spacing: 1rem;
        }
    }
    //cred ca nu trebuie
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;

        @include respond(phone){
            letter-spacing: .5rem;
        }
    }
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    //background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    color: $dark-grey;
}

.paragraph {
    font-size: $default-font-size;
    color: $dark-grey;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
