.u-center-text {
    text-align: center;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem;
    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-2 {
    margin-bottom: 1.5rem;
    @include respond(tab-port){
        margin-bottom: 1rem !important;
    }
}

.u-margin-top-2 {
    margin-top: 2rem;
}

.u-margin-top-8 {
    margin-top: 8rem;
}