// Ghid de identitate vizuala 
$color-primary: #2E6CB5;
$color-secondary: #1D174B;

// Non-Culori
$white: #ffffff;
$black: #000000;

// Altele
$dark-grey: #777;
$light-grey-1: #f7f7f7;
$orangered: orangered;
$very-dark-grey: #333;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;