.footer {
    background-color: $color-secondary;
    padding: 3rem 0;
    font-size: 1.4rem;


    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port){
            margin-bottom: 4rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    //ptr footer
    &__navigation {
        border-top: 1px solid $white;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }

    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $light-grey-1;
        padding-top: 2rem;
        
        a {
            text-decoration: none;
            color: $white;
        }

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }
}