.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8), 
        rgba($color-secondary, 0.8)),
        url("../images/headerImage.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
    clip-path: polygon(0 0, 100% 0,100% 75vh,0 100%);


    @include respond(phone){
       -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100%);
       clip-path: polygon(0 0, 100% 0,100% 85vh,0 100%);
    }


     // Logo
    &__logo-box {
         position: absolute;
         top: 25px;
         left: 20px;
    }
 
    &__logo {
        height: 100px;
    }
 
    //Text Box
    &__text-box {
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
         @include respond(phone) {
             top:50%;
         }
    }
 
    // Headings
     &__heading-primary {
         color: $white;
         text-transform: uppercase;
         backface-visibility: hidden;
         margin-bottom: 60px;
     }
  
     &__heading-primary-main {
         display: block;
         font-size: 50px;
         font-weight: 400;
         letter-spacing: 20px;
  
         animation-name: moveInLeft;
         animation-duration: 1.4s;
         animation-timing-function: ease-out;
         @include respond(phone) { 
             font-size: 20px;
             padding-top: 20px;
         }
     }
 
     &__heading-primary-sub {
         display: block;
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 17.4px;
         animation-name: moveInRight;
         animation-duration: 1.4s;
         animation-timing-function: ease-out;
      }
 
 } 