.section-about {
    background-color: $light-grey-1;
    padding: 25rem 0 7rem;
    margin-top: -25vh;

    @include respond(tab-port){
        padding: 25rem 0 13rem;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8), 
        rgba($color-secondary, 0.8)),
        url("../../assets/images/features.JPG");
    background-size: cover;
    margin-top: -9rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.section-present {
    background-color: $light-grey-1;
    padding: 25rem 0 15rem 0;
    margin-top: -9rem;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}